#demoLinks {
    width: 98%;
    margin: auto;
}

.demoLinks .card {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 5%;
}

.demoImage {
    width: 100%;
    margin: auto;
}

.card-header.demotitle {
    width: 100%;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    background-color: #614f378a;
    color: #ffffff;
}

#home {
    padding-bottom: 5%;
}
header .banner {
    background: url("http://getwallpapers.com/wallpaper/full/e/4/7/519703.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 55%;
    position: relative;
    z-index: -10;
}

p.faBtnTitle {
    margin-bottom: unset;
    font-size: 125%;
    font-weight: bold;
}

body, #nav{
    background-color: #5a7b9cf5;
}

.banner-content {
    color: #fff;
    font-family: "Lato", serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 17%;
    letter-spacing: 0.4rem;
    padding-right: 8%;
    margin-bottom: 15%;
}

.btnGithub{
    background-color: #9aa0a5 !important;
}

.btnLive{
    background-color: #5a7b9c !important;
}
.banner-content h1 {
    font-size: 5rem;
    font-weight: bold;
}
.banner-content h3 {
    font-size: 3rem;
    margin: 5% 0;
    color: #eeeeee;
    font-weight: bold;
}

p.faBtnTitle {
    margin-bottom: unset;
}

a.btn.btn-block.btn-sm {
    max-width: 200px;
    margin: auto;
}

a.navbar-brand {
    font-weight: bold;
    color: white;
}

p.navbar-text {
    padding-bottom: unset;
    color: white;
    font-style: italic;
    font-size: 100%;
    letter-spacing: .08rem;
}
.appDetailMain {
    width: 100%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.linkBtn {
    padding-top: 5%;
}

@media screen and (max-width: 990px) {
    header .banner-content {
        text-align: center;
    }
    .scroll-down {
        display: none;
    }
    .contacts-data {
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    header .banner-content h1 {
        font-size: 4rem;
    }
    header .banner-content h3 {
        font-size: 2.5rem;
    }
    header .social-list {
        display: none;
    }
    .block {
        width: 65%;
        margin: 20px auto;
    }
    .skills img {
        width: 65%;
    }
}
@media screen and (max-width: 491px) {
    header .banner-content h1 {
        font-size: 2.5rem;
    }
    header .banner-content h3 {
        font-size: 1.5rem;
    }
}